@model IEnumerable<Amjad.Models.Video>
@{
    ViewBag.Title = "مقتطفات قانونية";
}


<section class="practice-area padding-lg caseBtmpd">
    <div class="container">
        <ul class="row">
            @foreach (var item in Model)
            {

                <li class="col-12 col-md-4 equal-hight">
                    <div class="inner">
                        <a class="iFrame" title="@item.Title" href="@item.VideoName">
                            <img src="@item.ImageName" alt="@item.Title">
                        </a>
                        <h3>
                            <a class="iFrame" title="@item.Title" href="@item.VideoName" style="color:#2a2a2a !important">
                                @item.Title
                            </a>
                        </h3>
                        @*<p>@Html.Raw(item.Summary.Replace("\n", "<br>"))</p>*@
                        <a class="iFrame read-more" title="@item.Title" href="@item.VideoName">مشاهدة</a>
                    </div>
                </li>
            }
        </ul>

        @Html.Partial("_pagination")

    </div>
</section>

