@model Amjad.Models.Counter

@{
}

<div class="row">
	<div class="col-md-12">
		<div class="portlet box green ">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i> تعديل
				</div>
			</div>
			<div class="portlet-body">
				
				@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @role = "form", action = "" }))
				{
					@Html.AntiForgeryToken()
							@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					<div class="form-body">
						
						@Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.Date)
                        @Html.HiddenFor(model => model.UserIdAdd)
                        @Html.HiddenFor(model => model.UserIdUpdate)


							<div class="form-group">
								@Html.LabelFor(model => model.CasesCount, htmlAttributes: new { @class = "control-label col-md-2" })
								<div class="col-md-10">
									@Html.EditorFor(model => model.CasesCount, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.CasesCount, "", new { @class = "text-danger" })
								</div>
							</div>

							<div class="form-group">
								@Html.LabelFor(model => model.ClientsCount, htmlAttributes: new { @class = "control-label col-md-2" })
								<div class="col-md-10">
									@Html.EditorFor(model => model.ClientsCount, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.ClientsCount, "", new { @class = "text-danger" })
								</div>
							</div>

							<div class="form-group">
								@Html.LabelFor(model => model.AwardsCount, htmlAttributes: new { @class = "control-label col-md-2" })
								<div class="col-md-10">
									@Html.EditorFor(model => model.AwardsCount, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.AwardsCount, "", new { @class = "text-danger" })
								</div>
							</div>

							<div class="form-group">
								@Html.LabelFor(model => model.LawyersCount, htmlAttributes: new { @class = "control-label col-md-2" })
								<div class="col-md-10">
									@Html.EditorFor(model => model.LawyersCount, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.LawyersCount, "", new { @class = "text-danger" })
								</div>
							</div>

						
					</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-2 col-md-10">
								<input type="submit" class="btn green" value="حفظ التغيرات" />
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>
@section jsCode {
    @Scripts.Render("~/bundles/jqueryval")
}
