@model Amjad.Models.Video

@{   
}
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-green-haze">
            <i class="icon-settings font-green-haze"></i>
            <span class="caption-subject bold uppercase">حذف</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                    </div>
                </div>
            </div>
        </div>
        <h3 class="red">Are you sure ?</h3>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="submit" class="btn red" value="Delete" />
            <a class="btn green" href="@Url.Action("Index")">
                <i class='fa fa-undo'></i> الرجوع
            </a>
        }

				<div class="form-group form-md-line-input">
					@Html.LabelFor(model => model.ImageName, new { @class = "col-md-2 control-label righttext" })
					<label class="col-md-9">
						@Html.DisplayFor(model => model.ImageName)
					</label>
				</div>
				<div class="form-group form-md-line-input">
					@Html.LabelFor(model => model.VideoName, new { @class = "col-md-2 control-label righttext" })
					<label class="col-md-9">
						@Html.DisplayFor(model => model.VideoName)
					</label>
				</div>
				<div class="form-group form-md-line-input">
					@Html.LabelFor(model => model.Title, new { @class = "col-md-2 control-label righttext" })
					<label class="col-md-9">
						@Html.DisplayFor(model => model.Title)
					</label>
				</div>
				<div class="form-group form-md-line-input">
					@Html.LabelFor(model => model.Summary, new { @class = "col-md-2 control-label righttext" })
					<label class="col-md-9">
						@Html.DisplayFor(model => model.Summary)
					</label>
				</div>
				<div class="form-group form-md-line-input">
					@Html.LabelFor(model => model.LangId, new { @class = "col-md-2 control-label righttext" })
					<label class="col-md-9">
						@Html.DisplayFor(model => model.LangId)
					</label>
				</div>
				<div class="form-group form-md-line-input">
					@Html.LabelFor(model => model.Date, new { @class = "col-md-2 control-label righttext" })
					<label class="col-md-9">
						@Html.DisplayFor(model => model.Date)
					</label>
				</div>
				<div class="form-group form-md-line-input">
					@Html.LabelFor(model => model.UserIdAdd, new { @class = "col-md-2 control-label righttext" })
					<label class="col-md-9">
						@Html.DisplayFor(model => model.UserIdAdd)
					</label>
				</div>
				<div class="form-group form-md-line-input">
					@Html.LabelFor(model => model.UserIdUpdate, new { @class = "col-md-2 control-label righttext" })
					<label class="col-md-9">
						@Html.DisplayFor(model => model.UserIdUpdate)
					</label>
				</div>
				<div class="form-group form-md-line-input">
					@Html.LabelFor(model => model.UserIdDelete, new { @class = "col-md-2 control-label righttext" })
					<label class="col-md-9">
						@Html.DisplayFor(model => model.UserIdDelete)
					</label>
				</div>
				<div class="form-group form-md-line-input">
					@Html.LabelFor(model => model.IsDeleted, new { @class = "col-md-2 control-label righttext" })
					<label class="col-md-9">
						@Html.DisplayFor(model => model.IsDeleted)
					</label>
				</div>
				<div class="form-group form-md-line-input">
					@Html.LabelFor(model => model.IsBest, new { @class = "col-md-2 control-label righttext" })
					<label class="col-md-9">
						@Html.DisplayFor(model => model.IsBest)
					</label>
				</div>
				<div class="form-group form-md-line-input">
					@Html.LabelFor(model => model.Views, new { @class = "col-md-2 control-label righttext" })
					<label class="col-md-9">
						@Html.DisplayFor(model => model.Views)
					</label>
				</div>
				<div class="form-group form-md-line-input">
					@Html.LabelFor(model => model.Category.Name, new { @class = "col-md-2 control-label righttext" })
					<label class="col-md-9">
						@Html.DisplayFor(model => model.Category.Name)
					</label>
				</div>
				<div class="form-group form-md-line-input">
					@Html.LabelFor(model => model.VideosCategory.Name, new { @class = "col-md-2 control-label righttext" })
					<label class="col-md-9">
						@Html.DisplayFor(model => model.VideosCategory.Name)
					</label>
				</div>
</div>
