@model IEnumerable<Amjad.Models.Image>

@{
}
<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet box grey-cascade">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-globe"></i>@ViewBag.Title
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <a class="btn green" href="@Url.Action("Create")">
                            <i class='fa fa-plus'></i> جديد
                        </a>
                    </div>
                </div>
            </div>
        </div>
		<table class="table table-striped table-bordered table-hover" id="v4table">
			<thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ImageName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.CategoryId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>

                    <th></th>
                </tr>
			</thead>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(item.ImageName))
                {
                    <img src="/Content/Files/ImageGallery/@item.ImageName" width="120" />
                    <br /><br />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>.
            <td>
                @(item.Date != null ? item.Date.Value.ToString("dd/MM/yyyy hh:mm tt") : "")
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id=item.ID })" class="btn btn-primary btn-xs">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a href="@Url.Action("Details", new { id=item.ID })" class="btn iFrame btn-warning btn-xs">
                    <i class="glyphicon glyphicon-info-sign"></i>
                </a>
                <a href="@Url.Action("Delete", new { id=item.ID })" class="btn Confirm btn-danger btn-xs">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
}
		</table>
    </div>
</div>

@section cssCode
{
    <link href="/assets/plugins/datatables/datatables.min.css" rel="stylesheet" />
}
@section jsCode
{   
    <script src="/assets/plugins/datatables/datatables.min.js"></script>
    
}
@section jsCode
{
    <script>
        $(document).ready(function() {
            var table = $('table').DataTable({
                "sCookiePrefix": "all_",
                "language": { "url": "/assets/plugins/datatables/arabic.json" },
                "bSort": false, "lengthMenu": [[10, 50, 100, 1000], [10, 50, 100, 1000]]
            });
        });
    </script>
}
